{% extends "base.html" %}

{% block title %}Demo Application{% endblock %}

{% block content %}
	{% if status != None %}
	<div id="notify-holder"></div>
	{% endif %}
	<div class="jumbotron">
		<p>Welcome to patient monitoring application</p>
	</div>

	<div class="clearfix">&nbsp;</div>
		<div class="col-sm-3 text-center">
			<button onclick="window.location.href='/{{ context_prefix }}patients/'" class="btn btn-primary">Get all patients</button>
		</div>

		<div class="col-sm-3 text-center">
			<button onclick="window.location.href='/{{ context_prefix }}listUsers/'" class="btn btn-primary">All users</button>
		</div>

		<div class="col-sm-3 text-center">
			<button onclick="window.location.href='/{{ context_prefix }}addUser/'" class="btn btn-primary">Add new user</button>
		</div>
	<div class="clearfix">&nbsp;</div>
{% endblock %}