{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Demo Application{% endblock %}

{% block content %}
	{% if status != None %}
		<div id="notify-holder"></div>
	{% endif %}

	<h3>All Patients</h3>

	<div class="well well-sm">
	    <table id="patients-data-table" class="table table-striped table-hover table-bordered display data-table" cellspacing="0" style="width:100%">
		    <thead class="thead-inverse">
		        <tr>
		            <th>First Name</th>
		            <th>Last Name</th>
		            <th>Id</th>
		            <th>Date of birth</th>
                    <th>Gender</th>
		            <th>Contact Number</th>
		            <th>Action</th>
		        </tr>
		    </thead>
		</table>
	</div>

	<form>
		{% csrf_token %}
		<input type="hidden" id="context_prefix" name="context_prefix" value="{{ context_prefix }}">
	</form>

	<div class="well well-sm">
		<div class="clearfix">&nbsp;</div>
		<div class="col-sm-6 text-center">
			<button onclick="window.location.href='/openiddemoproject'" class="btn btn-primary">Home</button>
			<!-- <button onclick="window.location.href='/openiddemoproject/logout'" class="btn btn-secondary">Sign Out</button> -->
			<p>{{ id_token }}</p>
			<p>{{ callback }}</p>
			<p>{{ oidc_logout_url }}</p>
			<form class="form-horizontal" enctype="multipart/form-data" id="logout" action="{{ oidc_logout_url }}" method="post">
				<input type="hidden" name="id_token_hint" value="{{ id_token }}"/>
				<input type="hidden" name="post_logout_redirect_uri" value="{{ callback }}"/>
				<button type='submit'>Sign Out</button>
			</form>
		</div>
		<div class="clearfix">&nbsp;</div>
	</div>
{% endblock %}

{% block scriptings %}
	<script type="text/javascript" src="{% static 'js/patients.js' %}"></script>
{% endblock %}